.list\:reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.grid\:fluid {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.wrapper {
    inline-size: min(100%, 90vw);
    margin-inline: auto;
}