<section class="section">
    <ul class="wrapper list:reset">
        <li style="background: red">card</li>
        <li style="background: red">card</li>
        <li style="background: red">card</li>
    </ul>
</section>

<style>
    ul {
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
        gap: clamp(10px, 3vw, 100px);
    }
</style>
