<section class="section">
    <div>
        <h1 class="foo heading-1">h1</h1>
        <h2 class="heading-2">h2</h2>
        <h3 class="heading-3">h3</h3>
        <h4 class="heading">h4</h4>
    </div>
</section>

<style>
    [class*="heading-"] {
        background: red;
    }
</style>
