<section class="section">
    <div class="card">
        <picture>
            <img
                src="https://images.unsplash.com/photo-1706859872183-a500efab7ef7?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt=""
            />
        </picture>
    </div>
</section>

<style lang="scss">
    .card {
        inline-size: min(90%, 400px);
        aspect-ratio: 9 / 16;
        background: white;
    }

    picture {
        &,
        img {
            inline-size: 100%;
            block-size: 100%;
        }

        img {
            display: block;
            object-fit: cover;
        }
    }

    .card::after {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: blur(10px);
        mask-image: linear-gradient(90deg, black 50%, transparent 50%);
    }
</style>
