<section class="section">
    <div class="min">foo bar</div>
</section>

<style lang="scss">
    .min {
        // width: 90vw;
        // max-width: 600px;
        inline-size: min(90vw, 600px);
        background: red;
    }
</style>
